<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <script src="/socket.io/socket.io.js"></script>
    <script src="./main.js"></script>
    <script src="./websoketsMensajes.js"></script>
  </head>
  <body>
    <div class="container mt-3">
      <div class="jumbotron">
        <h2 style="color:crimson;">Chat</h2>
        <div id="messages"></div>
        <form onsubmit="return addMessage(this)">
          <input type="text" id="username" placeholder="Tu Nombre" />
          <input type="text" id="texto" placeholder="Cuéntanos algo..." />
          <input type="submit" value="Enviar" />
        </form>
      </div>
    </div>
  </body>

</html>